doctype html
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Credenciales
        link(rel="stylesheet", href="/css/bootstrap.css")
        script(src="/js/bootstrap.bundle.js")
        script(src="/js/pooper.min.js")
    body
        h1.text-center=pagina
            div(class="row justify-content-center")
                if errores
                    div(class="row justify-content-center text-bg-danger" )
                        div(class="col-md-5")
                            each er in errores
                                h1(class="fw-bold fs-6")=er.msg
                div(class="col-md-5")
                    form(class="space-y-5" action="/registrar" method="POST" noValidate)
                        input(type="hidden" name="_csrf" value=csrf)
                        br
                        br
                        div(class="mb-1")
                            label(for="nombre_usuario" class="form-label") Usuario
                            input#usuar(class="form-control" type="text" required placeHolder="Usuario" name="nombre_usuario")
                        div(class="mb-1")
                            label(for="correo" class="form-label") Correo
                            input#correo(class="form-control" type="email" required placeHolder="demo@demo.com" name="correo")
                        div(class="mb-1")
                            label(for="contraseña" class="form-label") Contraseña
                            input#clave(class="form-control" type="password" required placeHolder="Contraseña" name="contraseña")
                        div(class="mb-1")
                            label(for="direccion" class="form-label") Dirección
                            input#direccion(class="form-control" type="text" required placeHolder="Dirección" name="direccion")
                        div(class="mb-1")
                            button(type="submit" class="btn btn-primary col-auto") Enviar