nav
  .plataforma
    br
    img.plataforma-xbox(src='img/xbox.png' data-consola='Xbox' alt='Xbox')
    img.plataforma-ps(src='img/ps.png' data-consola='PlayStation' alt='PlayStation')
    img.plataforma-nintendo(src='img/nintendo.png' data-consola='Nintendo' alt='Nintendo')
    br